<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyApiTataki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="<%= "https://#{ENV['SHOPIFY_DOMAIN']}/admin" %>" target="_blank"><%= ENV['SHOPIFY_DOMAIN'] %></a>
    </header>

    <%= yield %>

  </body>
</html>
